html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/********************************* My Code *********************************/
body {
  background-color: black;
  color: white;
}
.btn:hover,
a:hover {
  cursor: cell;
}

span {
  color: #df541d;
}

.main h1 {
  font-family: "knewave", cursive;
  margin: 20px 0;
}
p {
  font-family: "Mali", cursive;
  font-size: 15px;
}
#particle-js {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -99;
  top: 0;
  left: 0;
  opacity: 0.5;
}
/*React Transition*/
/*appear - on page load*/
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear 500ms;
}

.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}

/* enter */
.left-enter {
  transform: translate(0);
}
.left-enter.left-enter-active {
  transform: translate(120%);
  transition: transform 500ms linear;
}

/* exit */
.left-exit {
  transform: translate(-120%);
}
.left-exit.left-exit-active {
  transform: translate(0);
  transition: transform 500ms linear;
}

/* enter */
.right-enter {
  transform: translate(120%);
}
.right-enter.right-enter-active {
  transform: translate(0);
  transition: transform 500ms linear;
}

/* exit */
.right-exit {
  transform: translate(0);
}
.right-exit.right-exit-active {
  transform: translate(-120%);
  transition: transform 500ms linear;
}

.item-container {
  position: relative;
  margin: 0 auto;
  top: 10%;
}

.item {
  z-index: -99;
  text-align: center;
  margin: 0 auto;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 60vh;
  width: 80%;
}
.section {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}
.control {
  position: relative;
  display: block;
  margin: 0 auto;
  width: max-content;
  z-index: 99;
  margin-top: 80vh;
}

ul.control li {
  display: inline;
}

ul.control li a,
ul.control li .btn {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: #0c3b94;
  color: #fff;
  font-size: 12px;
  padding: 1rem 1rem;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-icon {
  font-size: 40px;
  color: #6dafec;
  padding-left: 1rem;
}

h1 {
  font-size: 40px;
}

.main p strong {
  color: #e42626;
  text-transform: uppercase;
}

.item h3 {
  margin: 5px;
}
ul.control li .orange {
  background-color: #e42626;
}

.social {
  margin: 20px 0;
}
